.eze .eze-table-filters {
  height: 32px; }
  .eze .eze-table-filters p {
    font-size: 12px;
    line-height: 30px;
    float: left;
    margin: 0; }
    .eze .eze-table-filters p a {
      color: #ff7200;
      text-decoration: underline; }
  .eze .eze-table-filters form {
    float: right;
    margin: 0; }
    .eze .eze-table-filters form i {
      font-size: 20px;
      height: 20px;
      width: 20px; }
.eze table {
  border: 1px solid #cccccc;
  text-align: left;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .eze table thead tr {
    font-size: 11px;
    height: 25px;
    background-color: #ebebeb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ebebeb));
    background-image: -webkit-linear-gradient(top, white, #ebebeb);
    background-image: -moz-linear-gradient(top, white, #ebebeb);
    background-image: -ms-linear-gradient(top, white, #ebebeb);
    background-image: -o-linear-gradient(top, white, #ebebeb);
    background-image: linear-gradient(top, white, #ebebeb); }
    .eze table thead tr th {
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      padding: 6px 0; }
  .eze table tbody tr {
    background: rgba(0, 0, 0, 0.02);
    height: 30px;
    font: normal 12px/12px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out; }
    .eze table tbody tr:nth-child(even) {
      background: transparent; }
    .eze table tbody tr:hover {
      background: rgba(255, 220, 0, 0.1);
      cursor: pointer; }
    .eze table tbody tr.active {
      background: rgba(255, 220, 0, 0.2); }
    .eze table tbody tr.publishing {
      background: rgba(118, 212, 31, 0.2); }
    .eze table tbody tr.deleting {
      background: rgba(255, 0, 0, 0.2); }
    .eze table tbody tr td {
      border-bottom: 1px solid #cccccc; }
    .eze table tbody tr:last-child td {
      border-bottom: 0; }
    .eze table tbody tr a {
      line-height: 30px;
      display: block; }
  .eze table .eze-table-check {
    padding: 0;
    width: 30px;
    vertical-align: middle; }
    .eze table .eze-table-check label {
      height: 30px;
      width: 30px;
      padding: 10px;
      display: inline; }
    .eze table .eze-table-check input {
      margin: 2px 8px 0 -3px; }
  .eze table .eze-table-icon {
    width: 16px;
    padding: 0 10px;
    border-left: 1px solid #d4d4d4;
    text-align: center; }
    .eze table .eze-table-icon i {
      font-size: 14px; }
  .eze table .eze-table-no-hits td {
    text-align: center;
    padding: 40px;
    font: normal 28px/28px "Helvetica Neue UltraLight", "HelveticaNeue-UltraLight", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }
  .eze table .eze-table-no-hits:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: default; }

#eze-mediabase {
  display: none;
  -webkit-animation: fade-in 0.4s ease-in 1; }

#eze-mediabase:target {
  display: block; }

.eze-mediabase {
  position: absolute;
  top: 0;
  left: 74px;
  right: 0;
  bottom: 0;
  background: #141414;
  background: rgba(0, 0, 0, 0.8);
  z-index: 60000;
  color: white;
  padding: 20px 0 0 20px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .eze-mediabase h1 {
    margin: 0 0 20px 0; }
  .eze-mediabase nav {
    background: black; }
    .eze-mediabase nav i {
      margin: 0 10px 0 20px; }

.eze nav#toolbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 63px;
  border-right: 1px solid black;
  z-index: 70000;
  background-color: #1b1b1b;
  background-image: -o-linear-gradient(left, #1b1b1b 0%, #1e1e1e 100%);
  background-image: -moz-linear-gradient(left, #1b1b1b 0%, #1e1e1e 100%);
  background-image: -webkit-linear-gradient(left, #1b1b1b 0%, #1e1e1e 100%);
  background-image: -ms-linear-gradient(left, #1b1b1b 0%, #1e1e1e 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #1b1b1b), color-stop(1, #1e1e1e));
  background-image: linear-gradient(left, #1b1b1b 0%, #1e1e1e 100%);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5), inset -1px 0 #3c3c3c; }
  .eze nav#toolbar ul {
    margin: 0;
    list-style: none;
    position: relative;
    left: 0;
    -webkit-animation: fade-in 0.4s ease-in 1; }
    .eze nav#toolbar ul li {
      position: relative; }
      .eze nav#toolbar ul li a {
        height: 50px;
        width: 62px;
        padding: 9px 0 0 0;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        text-align: center;
        color: white;
        font-size: 10px;
        text-decoration: none; }
      .eze nav#toolbar ul li div.slide-in {
        position: absolute;
        top: 0;
        left: -300px;
        visibility: hidden;
        height: 60px;
        width: 300px;
        -webkit-transition: left 0.3s ease-out;
        -moz-transition: left 0.3s ease-out;
        -o-transition: left 0.3s ease-out;
        transition: left 0.3s ease-out; }
      .eze nav#toolbar ul li:hover div.slide-in {
        visibility: visible;
        left: 0; }
      .eze nav#toolbar ul li .group a {
        float: left;
        border-bottom: 0;
        background: #232323;
        border-right: 1px solid rgba(255, 255, 255, 0.3); }
        .eze nav#toolbar ul li .group a:last-child {
          border-right: 0; }
      .eze nav#toolbar ul li .quick-action {
        background: rgba(0, 100, 0, 0.8); }
  .eze nav#toolbar b {
    background: url(../gfx/sprite.png);
    display: block;
    width: 62px;
    height: 28px;
    margin: 0 0 2px 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
      .eze nav#toolbar b {
        background: url(../gfx/sprite@2x.png);
        -webkit-background-size: 640px 640px;
        background-size: 640px 640px; } }
  .eze nav#toolbar .eze-home {
    background-position: 0 0; }
  .eze nav#toolbar .eze-create {
    background-position: -64px 0; }
  .eze nav#toolbar .eze-document {
    background-position: -128px 0; }
  .eze nav#toolbar .eze-status {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    border: 1px solid black;
    position: absolute;
    top: 3px;
    left: 37px; }
    .eze nav#toolbar .eze-status.published {
      background: #82ea43; }
    .eze nav#toolbar .eze-status.changed {
      background: yellow; }
    .eze nav#toolbar .eze-status.new {
      background: red; }
  .eze nav#toolbar .eze-search {
    background-position: -192px 0; }
  .eze nav#toolbar .eze-activity {
    background-position: -256px 0; }
  .eze nav#toolbar .eze-media {
    background-position: -320px 0; }
  .eze nav#toolbar .eze-sitemap {
    background-position: -384px 0; }
  .eze nav#toolbar .eze-settings {
    background-position: -448px 0; }
  .eze nav#toolbar .eze-more {
    background-position: -512px 0; }

.eze .eze-bigmodal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 64px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 50000;
  overflow: hidden; }
  .eze .eze-bigmodal .eze-modal-content {
    background: #fafafa;
    min-width: 650px;
    margin-right: 44px;
    max-width: 1100px;
    box-shadow: 3px 0 0 0 rgba(0, 0, 0, 0.3);
    -webkit-animation: fade-in 0s ease-in 1;
    min-height: 100%; }

.eze .eze-stack {
  margin: 0;
  list-style-type: none;
  position: fixed;
  right: 44px;
  left: 64px;
  min-width: 650px;
  max-width: 1100px; }
  .eze .eze-stack li {
    background: #ffd5a1;
    height: 30px;
    border-bottom: 1px solid white;
    padding: 0 0 0 15px;
    font: normal 12px/32px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }
    .eze .eze-stack li img {
      margin: 0 5px 0 0; }
    .eze .eze-stack li:nth-last-child(2) {
      background: #ffb365; }
    .eze .eze-stack li:nth-last-child(3) {
      background: #ffd5a1; }
    .eze .eze-stack li.last {
      height: 44px;
      margin-right: -44px;
      font: normal 16px/46px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      background: #ff8500;
      border-bottom: 0; }
      .eze .eze-stack li.last img {
        margin-top: -2px; }
    .eze .eze-stack li.move-in {
      -moz-animation: stack-header-move-in 0.7s ease 1 normal;
      -webkit-animation: stack-header-move-in 0.7s ease 1 normal;
      -webkit-animation-delay: 2s; }
    .eze .eze-stack li.move-out {
      -moz-animation: stack-header-move-out 0.7s ease 1 normal;
      -webkit-animation: stack-header-move-out 0.7s ease 1 normal; }
    .eze .eze-stack li .go-back {
      float: right;
      height: 44px;
      width: 44px;
      text-align: center; }
.eze .eze-stack-content {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 650px;
  right: 44px;
  max-width: 1100px;
  -moz-animation: fade-in 0.5s ease 1 normal;
  -webkit-animation: fade-in 0.9s ease 1 normal;
  -webkit-animation-delay: 2s; }
  .eze .eze-stack-content.move-out {
    -moz-animation: stack-content-move-out 0.5s ease 1 normal;
    -webkit-animation: stack-content-move-out 1s ease 1 normal; }

.eze .eze-items {
  list-style-type: none;
  margin: 0 0 10px 0; }
  .eze .eze-items li {
    margin: 0 0 5px 0;
    width: 100%;
    border-radius: 4px;
    background: #cccccc;
    height: 26px; }
    .eze .eze-items li .wrap {
      background: white;
      border: 1px solid #cccccc;
      border-radius: 4px;
      padding: 0 4px;
      position: relative; }
      .eze .eze-items li .wrap p {
        margin: 0 30px 0 0;
        height: 26px;
        line-height: 26px;
        overflow: hidden;
        font-size: 12px; }
        .eze .eze-items li .wrap p small {
          font-size: 11px; }
        .eze .eze-items li .wrap p i {
          margin: 0 3px 0 0; }
        .eze .eze-items li .wrap p img {
          margin: -1px 3px 0 0; }
      .eze .eze-items li .wrap .btn {
        position: absolute;
        top: 3px;
        right: 4px; }
        .eze .eze-items li .wrap .btn.edit-btn {
          right: 28px; }
.eze .chzn-container {
  margin-bottom: 9px; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes stack-content-move-out {
  100% {
    opacity: 0;
    top: 150px; } }

@-moz-keyframes stack-content-move-out {
  100% {
    opacity: 0;
    top: 150px; } }

@-webkit-keyframes stack-header-move-in {
  0% {
    opacity: 0;
    margin-top: 120px; }

  50% {
    opacity: 1; }

  60% {
    margin-top: -10px; }

  100% {
    margin-top: 0; } }

@-moz-keyframes stack-header-move-in {
  0% {
    opacity: 0;
    margin-top: 120px; }

  50% {
    opacity: 1; }

  60% {
    margin-top: -10px; }

  100% {
    margin-top: 0; } }

@-webkit-keyframes stack-header-move-out {
  0% {
    margin-top: 0; }

  60% {
    margin-top: -10px;
    opacity: 1; }

  100% {
    margin-top: 120px;
    opacity: 0; } }

@-moz-keyframes stack-header-move-out {
  0% {
    margin-top: 0; }

  60% {
    margin-top: -10px;
    opacity: 1; }

  100% {
    margin-top: 120px;
    opacity: 0; } }

.eze .eze-object-translations {
  background: white;
  float: left;
  width: 100%; }
  .eze .eze-object-translations h1 {
    font: normal 16px/16px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    margin: 20px 20px 10px 20px; }
  .eze .eze-object-translations ul {
    float: left;
    list-style: none;
    margin: 0 10px 0 20px; }
    .eze .eze-object-translations ul li {
      float: left;
      font: normal 12px/12px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      margin: 0 10px 10px 0; }
      .eze .eze-object-translations ul li input {
        margin: -1px 5px 0 0; }
.eze .eze-object-attributes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
  border-right: 1px solid #cccccc; }
  .eze .eze-object-attributes .eze-object-attribute-wrap {
    float: left;
    width: 100%;
    border-top: 1px solid #eeeeee; }
    .eze .eze-object-attributes .eze-object-attribute-wrap .eze-object-attribute {
      width: 49%;
      float: left;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 15px;
      border-left: 1px solid #eeeeee; }
      .eze .eze-object-attributes .eze-object-attribute-wrap .eze-object-attribute.full-width {
        width: 100%; }
      .eze .eze-object-attributes .eze-object-attribute-wrap .eze-object-attribute:first-child {
        margin-right: -1px;
        border-left: 0;
        border-right: 1px solid #eeeeee; }
      .eze .eze-object-attributes .eze-object-attribute-wrap .eze-object-attribute .heading {
        font: normal 14px/14px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        color: #444444;
        margin-bottom: 10px; }
      .eze .eze-object-attributes .eze-object-attribute-wrap .eze-object-attribute .description {
        font: normal 11px/16px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        margin: -5px 0 10px 0; }
      .eze .eze-object-attributes .eze-object-attribute-wrap .eze-object-attribute .alert {
        font: normal 12px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        margin: 0 0 15px 0; }
      .eze .eze-object-attributes .eze-object-attribute-wrap .eze-object-attribute .language {
        font: normal 11px/11px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        margin: 0 0 10px 0; }
        .eze .eze-object-attributes .eze-object-attribute-wrap .eze-object-attribute .language img {
          margin: -1px 5px 0 0; }
  .eze .eze-object-attributes .eze-string input {
    width: 90%; }
  .eze .eze-object-attributes .eze-select select {
    width: 100%; }
  .eze .eze-object-attributes .eze-date input {
    width: 110px; }
  .eze .eze-object-attributes .eze-image .thumbnail, .eze .eze-object-attributes .eze-dam .thumbnail {
    margin: 0 0 10px 0;
    background: white; }
.eze .eze-object-sidebar {
  background: #eeeeee;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .eze .eze-object-sidebar .eze-container {
    border-top: 1px solid white;
    border-bottom: 1px solid #cccccc;
    padding: 20px;
    margin: 0 -10px; }
    .eze .eze-object-sidebar .eze-container:first-child {
      border-top: 0;
      padding-top: 0; }
    .eze .eze-object-sidebar .eze-container.last {
      border-bottom: 0; }
    .eze .eze-object-sidebar .eze-container h1 {
      font: normal 15px/15px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      margin-bottom: 5px; }
      .eze .eze-object-sidebar .eze-container h1 i {
        margin: 0 5px 0 0; }
    .eze .eze-object-sidebar .eze-container .description {
      font: normal 11px/16px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .eze .eze-object-sidebar .eze-state-container {
    border-top: 1px solid #cccccc;
    padding: 9px 0 0 0; }
    .eze .eze-object-sidebar .eze-state-container:first-child {
      border: 0; }
    .eze .eze-object-sidebar .eze-state-container h2 {
      font: bold 12px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }
    .eze .eze-object-sidebar .eze-state-container p {
      font: normal 11px/15px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }

.btn-primary {
  background-color: #ff9c00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffac00), to(#ff9c00));
  background-image: -webkit-linear-gradient(top, #ffac00, #ff9c00);
  background-image: -moz-linear-gradient(top, #ffac00, #ff9c00);
  background-image: -ms-linear-gradient(top, #ffac00, #ff9c00);
  background-image: -o-linear-gradient(top, #ffac00, #ff9c00);
  background-image: linear-gradient(top, #ffac00, #ff9c00);
  border: 1px solid #d67f00;
  color: #332100;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  .btn-primary:hover {
    background: #ff9c00;
    color: #332100;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.eze {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none; }
