


/* IE doesnt support box-shadow, and filters is to cpu intensive */

.eze .eze-smallmodal { border: 2px solid #555!important;}
	.eze .eze-smallmodal .arrow { color: #555!important;}

.eze .eze-comments li .add-comment .btn { top: 1px!important; }

.eze #eze-toolbar ul li .quick-action {background: #1e1e1e}