@import mixins
.eze

	// Custom Exceed Interface elements, besides what ships with bootstrap


	.eze-autosave
		padding: 0 20px 0 35px
		font: normal 12px/44px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif

		img
			background: #fff
			border-radius: 25px
			padding: 4px
			margin: 9px 16px 0 0
			position: absolute
			top: 0
			left: 0
			border: 1px solid #888

	.block-settings
		width: 400px

		p
			margin: 0

		input[type="number"]
			width: 40px
			margin: 0px 5px 0 5px

		select
			width: 100px


	// Custom generic list, with drag and drop
	// ----------------------------------------------

	.eze-items
		list-style-type: none
		margin: 0 0 10px 0
		-webkit-transform: translateZ(0)
		position: relative

		li
			margin: 0 0 5px 0
			width: 100%
			border-radius: 4px
			background: #ccc

			&.notification
				background: rgba(250,250,250,0.9)
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				margin: 0
				text-align: center
				opacity: 1
				@include transition()

				p
					height: 26px
					position: absolute
					background: #fafafa
					top: 50%
					left: 0
					right: 0
					margin-top: -13px
					font: normal 20px/20px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif

					img
						margin: -4px 7px 0 0

			.wrap, .right-align .btn, .reorder
				height: 34px
				line-height: 34px

			.wrap
				background: #fff
				@include gradient(#ffffff,#f5f5f5)
				border: 1px solid #d0d0d0
				border-radius: 4px
				padding: 0
				position: relative
				overflow: hidden

				.reorder
					display: block
					width: 40px
					float: left
					margin-right: -5px
					background: url(../images/scrubber.png) center center no-repeat
					cursor: move

				i
					margin: 0 3px 0 0

					&.status-icon
						float: right
						margin: 7px 5px 0 0

				img
					margin: -1px 5px 0 5px

				input[type="checkbox"]
					margin: 0 3px

				input[type="text"]
					height: 22px
					padding: 0 3px
					margin: -1px 5px 0 5px
					line-height: 22px

				.datetime
					font-size: 11px

					span
						float: left
						margin: -1px 3px 0 0


					input
						width: 30px
						display: inline
						font-size: 11px
						padding: 2px 5px
						margin-left: 5px

						&.publish-date
							width: 60px

				.right-align
					position: absolute
					right: 0
					top: 0px
					bottom: 1px
					border-top-right-radius: 4px
					border-bottom-right-radius: 4px
					@include gradient(#ffffff,#f5f5f5)

					.btn
						background: transparent
						border: 0
						padding: 0 15px
						margin: 0
						border-radius: 0
						border-left: 1px solid #d0d0d0
			
			select, .chzn-container
				width: 110px
				margin: 5px 5px 0 0
				display: block
				float: left





	// List of content types (article, image, page, etc..)
	// -------------------------------------------------------

	.eze-content-types
		list-style: none
		margin: 0

		li
			cursor: pointer
			display: block
			float: left
			margin: 0 10px 10px 0
			width: 160px
			border: 1px solid #d9d9d9
			@include gradient(#f8f8f8,#eeeeee)
			height: 24px
			font: normal 12px/26px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
			border-radius: 4px
			padding: 0 15px 0 5px

			img
				margin: -4px 4px 0 0

			&:hover
				background: #fff





	// List of comments, with avatars and actions
	// -----------------------------------------------

	.eze-comments
		list-style: none
		margin: 0 0 10px 0

		li
			border-top: 1px solid #fff
			border-bottom: 1px solid #dcdcdc
			padding: 6px 15px
			margin: 0 -15px

			&:first-child
				border-top: 0

			img
				height: 34px
				width: 34px
				border-radius: 34px
				float: left
				margin-left: -3px
			p
				margin: 0 0 0 40px
				font: normal 12px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

				.date
					font-size: 11px

			.add-comment-button
				float: right

			.add-comment
				margin: 5px 0 0 0
				padding: 0 10px 0 40px
				-moz-box-sizing: border-box
				box-sizing: border-box
				width: 100%
				position: relative

				.btn
					position: absolute
					top: 0
					right: 0

				input
					margin: 0 0 0 0
					font: normal 11px/12px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
					height: 12px
					width: 99%
