
.eze


	// Custom Interface elements, besides Bootstrappin

	.eze-items
		list-style-type: none
		margin: 0 0 10px 0

		li
			margin: 0 0 5px 0
			width: 100%
			border-radius: 4px
			background: #ccc
			height: 26px

			.wrap
				background: #fff
				border: 1px solid #ccc
				border-radius: 4px
				padding: 0 4px
				position: relative
				
				p
					margin: 0 30px 0 0
					height: 26px
					line-height: 26px
					overflow: hidden
					font-size: 12px

					small
						font-size: 11px

					i
						margin: 0 3px 0 0

					img
						margin: -1px 3px 0 0

				.btn
					position: absolute
					top: 3px
					right: 4px

					&.edit-btn
						right: 28px

	.chzn-container
		margin-bottom: 9px