@import mixins
.eze
	.eze-bigmodal
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 64px
		background: rgba(0,0,0,0.2)
		z-index: 50000
		overflow: hidden

		.eze-modal-content
			background: #fafafa
			min-width: 650px
			margin-right: 44px
			max-width: 1100px
			box-shadow: 3px 0 0 0 rgba(0,0,0,0.3)
			//-webkit-animation: fade-in 0.4s ease-in 1
			min-height: 100%

	.eze-stack-content
		h1
			font: 100 28px/20px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
			letter-spacing: 1px

		h2
			font: bold 14px/14px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif









		




