@import mixins
.eze


	//	Large modal

	.eze-bigmodal
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 64px
		background: rgba(0,0,0,0.2)
		z-index: 50000
		overflow: hidden

		.eze-modal-content
			background: #fafafa
			min-width: 650px
			margin-right: 44px
			max-width: 1100px
			box-shadow: 3px 0 0 0 rgba(0,0,0,0.3)
			-webkit-animation: fade-in 0.4s ease-in 1
			min-height: 100%

	.eze-stack-content
		h1
			font: normal 20px/20px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

		h2
			font: bold 14px/14px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif


	// Small modal

	.eze-smallmodal
		position: absolute
		top: 50px
		left: 87px
		background: #fafafa
		border-radius: 4px
		box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3)
		border: 1px solid #fff
		max-height: 600px
		width: 350px
		z-index: 60000
		padding: 15px

		.arrow
			height: 24px
			width: 15px
			position: absolute
			left: -14px
			top: 50%
			bottom: 50%
			margin-top: -8px
			color: #fafafa
			text-shadow: -2px 0 3px rgba(0,0,0,0.6)
			font-size: 36px
			text-align: right

		h1
			font: normal 20px/20px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
			margin: 0 0 10px 0

		h2
			font: normal 16px/16px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
			margin: 0 0 10px 0

		.eze-autosave
			position: absolute
			top: 6px
			right: 0








	// Custom styles for different modals

	.eze-activity-modal

		.btn-group
			margin: 0 0 10px 0

		.write-comment
			margin: 0 0 10px 0

			input
				width: 270px








	.eze-publish-modal
		label.checkbox
			margin: 0 0 10px 0

		.eze-items
			li .wrap i
				float: right
				margin: 6px 0 0 0









	.eze-add-content-modal
		width: 580px




	.eze-devices-modal
		width: 450px

		.table
			margin: 0

			tr:first-child td
				border-top: 0

			td
				padding: 8px 8px 8px 0

			p
				margin: 4px 0 0 0

			label
				margin: 4px 0 0 0


	.eze-dashboard-modal
		width: 580px








.eze-layout-modal

	.active-layout
		border: 3px solid orange

	h1
		font: normal 22px/22px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

	h2
		margin: 20px 0 10px 0
		font: bold 14px/14px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

	.nav
		margin: 0 0 5px 0

	.add-new
		margin: 0

		select, .chzn-container
			margin: 0 10px 0 0

	.tab-content
		overflow: visible
		padding: 5px 0 0 0

		ul li // Custom list with blocks

			.wrap
				height: 36px
				line-height: 36px
				padding-right: 80px

				p
					width: 300px
					height: 36px
					float: left
					margin: 0
					text-overflow: ellipsis
					white-space: nowrap
					font: normal 12px/36px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif

					input
						width: 100px

			.name
				width: 150px
				margin: 0 10px 0 0

		




