
.eze


	//	Attributes


	.eze-object-translations
		background: #fff
		float: left
		width: 100%

		ul
			float: left
			list-style: none
			margin: 20px 10px 5px 20px

			li
				float: left
				font: normal 12px/12px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin: 0 10px 5px 0

				input
					margin: -1px 5px 0 0

				h1
					font: normal 16px/16px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
					margin: 0

	.attr-group
		@include gradient(#fafafa,#dddddd)
		border-top: 1px solid #ccc
		border-bottom: 1px solid #bbb
		padding: 10px 15px 8px 15px
		font: normal 12px/12px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
		clear: both
		cursor: pointer

	.collapse
		.eze-object-attribute
			display: none

		&.in
			.eze-object-attribute
				display: block


	.eze-object-attributes
		position: absolute
		top: 0
		bottom: 0
		left: 0
		width: 60%
		overflow-y: scroll
		-webkit-overflow-scrolling: touch
		-webkit-transform: translateZ(0)
		z-index: 1
		box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1)
		border-right: 1px solid #ccc

		.eze-object-attribute-wrap  // Two and two attributes forms a grid
			float: left
			width: 100%
			border-top: 1px solid #eee

		.eze-object-attribute // One attribute
			width: 49%
			float: left
			-moz-box-sizing: border-box
			box-sizing: border-box
			padding: 15px
			border-left: 1px solid #eee

			.label-required
				float: right
				margin: -10px

			&.full-width
				border-top: 1px solid #eee
				width: 100%

			&:first-child
				margin-right: -1px
				border-left: 0
				border-right: 1px solid #eee


			// Default attribute elements ——————————————————————————

			.heading
				font: normal 14px/14px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				color: #444
				margin-bottom: 10px

			.description
				font: normal 11px/16px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin: -5px 0 10px 0

			.alert
				font: normal 12px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin: 0 0 15px 0

			.language
				font: normal 11px/11px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin: 0 0 10px 0

				img
					margin: -1px 5px 0 0


		// All attributes ——————————————————————————
		
		.eze-string
			input
				width: 90%

		.eze-select
			select
				width: 100%

		.eze-date
			input
				width: 110px

		.eze-image, .eze-dam
			.thumbnail
				margin: 0 0 10px 0
				background: #fff

		.eze-image, .eze-dam

			.thumbnail
				position: relative
				
				.btn
					position: absolute
					bottom: 10px
					left: 10px

				.close
					position: absolute
					top: 0
					right: 0
					padding: 2px 8px 8px 8px

				&:hover .close
					@include transition(opacity,0.2s)
					opacity: 1
					background: #fff
					border-bottom-left-radius: 4px

		.eze-matrix

			table
				margin: 0 0 10px 0

			th
				font: bold 11px/16px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

				input[type="checkbox"]
					margin: 5px 5px 2px 5px

			td
				padding: 0

				input[type="checkbox"]
					margin: 7px 10px 5px 10px

			input[type="text"]
				-moz-box-sizing: border-box
				box-sizing: border-box
				margin: 0
				border: 0
				padding: 15px 5px 10px 5px
				width: 100%

			p
				float: right
				margin: 0

				.btn
					float: right
					margin-left: 5px

				select
					width: 50px









	//	Sidebar

	.eze-object-sidebar
		background: #eee
		position: absolute
		top: 0
		bottom: 0
		right: 0
		width: 40%
		overflow-y: scroll
		-webkit-overflow-scrolling: touch
		padding: 10px
		-moz-box-sizing: border-box
		box-sizing: border-box

		.eze-container // For each sections inside the sidebar
			border-top: 1px solid #fff
			border-bottom: 1px solid #ccc
			padding: 20px
			margin: 0 -10px

			&:first-child
				border-top: 0
				padding-top: 0

			&.last
				border-bottom: 0

			h1
				font: normal 15px/15px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin-bottom: 5px

				i
					margin: 2px 5px 0 0
			h2
				font: bold 12px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin-bottom: 0

			p
				font: normal 11px/16px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif

		.eze-comments li:last-child
			border-bottom: 0

				

				




