
.eze


	//	Stack

	.stack-item
		position: absolute
		left: 0
		bottom: 0
		min-width: 650px
		right: 44px
		max-width: 1100px

		// Stack header

		header
			background: #ffd5a1
			height: 30px
			border-bottom: 1px solid #fff
			position: fixed
			z-index: 100
			right: 44px
			left: 64px
			min-width: 650px
			max-width: 1100px

			h1
				font: normal 12px/32px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

			img
				float: left
				margin: 8px 5px 0 10px

			.btn
				float: right
				margin: 2px 3px 0 0

			&:nth-last-child(2)
				background: #ffb365

			&:nth-last-child(3)
				background: #ffd5a1

		&.last header
			height: 44px
			right: 0
			max-width: 1144px
			background: #ff8500
			border-bottom: 0
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4)

			h1
				font: normal 16px/48px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

			.btn
				margin: 9px 9px 0 0
				border: 1px solid #fff

		&.move-in header
			-moz-animation: stack-header-move-in 0.7s ease 1 normal
			-webkit-animation: stack-header-move-in 0.7s ease 1 normal
			//-webkit-animation-delay: 2s

		&.move-out header
			-moz-animation: stack-header-move-out 0.7s ease 1 normal
			-webkit-animation: stack-header-move-out 0.7s ease 1 normal

		#autosave
			float: right
			margin: 0 20px 0 0
			font: normal 12px/44px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif

			img
				background: #fff
				border-radius: 25px
				border: 1px solid rgba(0,0,0,0.5)
				padding: 5px

		// Stack content

		.eze-stack-content
			display: none
			padding: 15px
			position: absolute
			top: 44px
			right: 0
			left: 0
			bottom: 0
			overflow: auto
			-moz-box-sizing: border-box
			box-sizing: border-box
			-moz-animation: fade-in 0.5s ease 1 normal
			-webkit-animation: fade-in 0.9s ease 1 normal
			//-webkit-animation-delay: 2s

			&.dark
				background: #222
				color: #fff

		&.last .eze-stack-content
			display: block

		&.move-out .eze-stack-content
			-moz-animation: stack-content-move-out 0.5s ease 1 normal
			-webkit-animation: stack-content-move-out 1s ease 1 normal