@import mixins

.eze

    .eze-table-actions
        margin: 0 0 20px 0
        padding: 0

    .eze-table-sort
        margin-top: -40px
        width: 700px
        float: right
        .nav
            float: left
            margin: 0 0 5px 0
            li
                margin-right: 10px
            a
                font-size: 11px
                padding: 3px 7px
                background: #eee

            li.active a
                background: #000

        .view-options
            margin: 6px 300px 0 0
            font-size: 20px

    .eze-table-filters
        position: fixed
        right: 10%
        width: 200px
        padding: 10px
        margin-left: 20px
        background: #fafafa
        border: 1px solid #eee

        .description
            font-size: 11px
            margin: 0 0 0 2px

        select
            width: 180px

        form
            margin: 0 0 10px 0

            i
                font-size: 20px
                height: 20px
                width: 20px

    
    .eze-datatable
        clear: both
        text-align: left
        width: 70%
        //border-collapse: separate
        border-bottom-left-radius: 4px
        border-bottom-right-radius: 4px

        thead tr
            font-size: 11px
            height: 25px

            th
                padding: 6px 0
                border-top: 1px solid #eee

        tbody tr
            background: rgba(0,0,0,0.02)
            height: 30px
            font: normal 12px/12px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
            @include transition(background, 0.2s)
        
            &:nth-child(even)
                background: transparent
        
            &:hover
                background: rgba(255,220,0,0.1)
                cursor: pointer
                
            &.active
                background: rgba(255,220,0,0.2)
            &.publishing
                background: rgba(118, 212, 31, 0.2)
            &.deleting
                background: rgba(255, 0, 0, 0.2)
                
            &:last-child td
                border-bottom: 0
                
            a
                line-height: 30px
                display: block
        
        .eze-table-check // Specific Cell Styles
            padding: 0
            width: 30px
            vertical-align: middle
                
            label
                height: 30px
                width: 30px
                padding: 10px
                display: inline
                
            input
                margin: 2px 8px 0 -3px
        
        
        .eze-table-icon // Icons with information
            width: 16px
            padding: 0 10px
            border-left: 1px solid #d4d4d4
            text-align: center

            i
                font-size: 14px
                

        .eze-table-no-hits // Empty table
            td
                text-align: center
                padding: 40px
                font: normal 28px/28px 'Helvetica Neue UltraLight', 'HelveticaNeue-UltraLight', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif
            
            &:hover
                background: rgba(0,0,0,0.02)
                cursor: default

            